

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Companies at {{companies && companies[0].exchange.name}}</h1>
  <br/>
  <br/>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th> 
      <th scope="col">Buy Price</th>
      <th scope="col">Sell Price</th>

      <th scope="col">EV/MG</th> 
      <th scope="col">EV/CV</th> 

      <th scope="col">EV/EBIT</th> 
      <th scope="col">P/E</th>  
      <th scope="col">P/BV</th>  
      
      <th scope="col">ROE</th>
      <th scope="col">Gross Margin</th>
      <th scope="col">EBIT Margin</th>   
      <th scope="col">Net Profit Margin</th>    
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let com of companies" (click)="onSelect(com)">
      <td>{{com.symbol}} - {{com.name}}</td>
      <td>{{com.price}}</td>
      <td>{{com.buyPrice}}</td>
      <td>{{com.sellPrice}}</td>

      <td>{{com.eVtoMG}}</td> 
      <td>{{com.eVtoCV}}</td> 

      <td>{{com.eVtoEbit}}</td> 
      <td>{{com.pe}}</td>
      <td>{{com.pb}}</td>

      <td>{{com.roe}}</td>      
      <td>{{com.grossMargin}}</td>
      <td>{{com.ebitMargin}}</td>
      <td>{{com.netProfitMargin}}</td>

      <!-- td>{{com.ev | currency : '':'':'0.0-0'}}</td -->     
    </tr>
  </tbody>
</table>

<div *ngIf="selectedCompany">
  <app-company-details [detailedCompany]="selectedCompany"></app-company-details>
</div>

